In [4]:
import pandas as pd
water=pd.read_csv("water_potability.csv")
water

,ph,Hardness,Solids,Chloramines,Sulfate,Conductivity,Organic_carbon,Trihalomethanes,Turbidity,Potability
0,NaN,204.890456,20791.318980,7.300212,368.516441,564.308654,10.379783,86.990970,2.963135,0
1,3.716080,129.422921,18630.057860,6.635246,NaN,592.885359,15.180013,56.329076,4.500656,0
2,8.099124,224.236259,19909.541730,9.275884,NaN,418.606213,16.868637,66.420093,3.055934,0
3,8.316766,214.373394,22018.417440,8.059332,356.886136,363.266516,18.436525,100.341674,4.628771,0
4,9.092223,181.101509,17978.986340,6.546600,310.135738,398.410813,11.558279,31.997993,4.075075,0
...,...,...,...,...,...,...,...,...,...,...
394,8.736371,194.677687,24283.658790,8.855544,329.004205,333.623794,16.516232,67.250473,3.802116,1
395,7.146976,196.562685,16911.203770,6.890505,320.100875,520.111358,12.854239,66.814176,4.025762,1
396,NaN,242.909436,9654.733681,6.253980,359.665835,588.566713,15.197015,62.822850,5.652222,1
397,5.040332,232.234479,25653.690230,5.929308,328.329580,529.052535,13.539410,38.346738,3.603326,1
398,NaN,281.582162,21707.492260,5.037261,348.239719,347.957498,15.370098,85.920350,4.003819,1